<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CalendarsAddresses" value="http://example.ics;http://example2.ics"/>
    <add key="WunderlistListName" value="inbox"/>
    <add key="WunderlistAccessToken" value="" />
    <add key="WunderlistClientId" value="" />
    <add key="TaskTags" value ="#cal"/>
  </appSettings>
</configuration>